django
django-simple-history
MySQL-python
mysqlclient
aliyuncli
aliyun-python-sdk-core
aliyun-python-sdk-ecs
aliyun-python-sdk-cms
aliyun-python-sdk-slb
aliyun-python-sdk-rds
APScheduler
djangorestframework
requests
channels


